 {% extends "partials/layout.njk"%}
    {% block title %} add{% endblock %}
     {% block content %}
    <form action="/movies/edit/{{movie.id}}" method="POST">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
       <input id="Name" class="form-control" type="text" placeholder="Movie name" name="movie">
        </div>
        <div class="mb-3">
        <label for="Year" class="form-label">Year</label>
       <input id="Year" class="form-control" type="number" placeholder="Movie year" name="year">
        </div>
        <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
       <input id="Description" class="form-control" type="text" placeholder="Movie Description" name="description">
        </div>
        <input type="Submit" value = "Update">
    </form>
    {% endblock %}